body {
     background-color:peachpuff;   
}
.content{
    display: flex;
     margin:20% 20%;
     border-radius:5%;             
     background-color: beige;
}
.content>img{
     float: left;
     margin: 0 auto;
     width:40%;
     height: 40%;
     border-top-left-radius: 5%;
     border-bottom-left-radius: 5%;
}
.word{
    float: right
}
.perf{
    font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
    font-weight: lighter;
    letter-spacing:0.3em;
    margin: 20px 15px 0px 15px;   
}
h1, h2, h3{
    font-weight: 700;
    font-family: 'Neuton', serif;
    font-size: 23pt;
    margin: 20px 15px 20px 15px;    
}
.floral{
    font-size: 18pt;
    font-family: 'Playfair Display', serif;
    margin: 0px 15px 0px 15px;
}
h2, h3{
    display: inline-block;
}
h2{
    color: rgb(66, 122, 67);
    font-weight: 900;
    font-size: 27pt;    
}
h3{
    font-size: 25pt;
    text-decoration: line-through;
}
.cartbox{
    display:block;
    background-color: rgb(68, 117, 69);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    padding: 10px 10px;
    margin: 20px 15px 0px 15px;
    justify-content: center;
    text-align: center;
    color: white;
}